body {
  font-family: 'Merriweather', serif;
  background-color: #1a1b21;
  color: white;
  background-repeat: no-repeat;

}
.nav-container {
  display: flex;
  background-color: #191b21;
  justify-content: space-around;
}

.weapons-page {
  flex-direction: row;
  display: flex;
  justify-content: center;
  font-family: 'MyFont';
  align-items: start;
}

.roll-page {
  flex-direction: row;
  display: flex;
  justify-content: center; 
  font-family: 'MyFont';
  align-items: center;
  background: #2e2f40;
  border-radius: 3%;
}

@media screen and (max-width: 960px) {
  .weapons-page, .roll-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .roll-container {
    margin-left: 0;
    height: 30%;
  }

  .damage-container img {
    height: 15vh;
    width: auto;
  }

  .damage {
    top:-2%
  }

  thead {
    width: 20vw;
  }

}

@media screen and (max-width: 768px) {


  .weapons-page > p {
    font-size: 30px;
  }

  .button {
    display: block;
    text-decoration: none;
  }

  .button {
    width: 100%;
  }
}
