body {
  font-family: 'Merriweather', serif;
  background-color: #1a1b21;
  color: white;
  background-repeat: no-repeat;

}
.nav-container {
  display: flex;
  background-color: #191b21;
  justify-content: space-around;
}

.weapons-page {
  flex-direction: row;
  display: flex;
  justify-content: center;
  font-family: 'MyFont';
  align-items: start;
}

.roll-page {
  flex-direction: row;
  display: flex;
  justify-content: center; 
  font-family: 'MyFont';
  align-items: center;
  background: #2e2f40;
  border-radius: 3%;
}
