img {
  height: 4vh;
}

table {
  border-collapse: collapse;
  width: 70vw;
  border: 1px solid black;
  border-radius: 6%;
  overflow: hidden;
}

td:hover {
  background-color: gray;
}

caption {
  font-size: xx-large;
}

thead {
  display: table;
  width: calc(100% - 17px);
}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
}

thead button {
  order: 0;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  padding: 0;
  margin-bottom: 0px;
  background: none;
  color: white;
}

th, td {
  width: 33.33%;
  padding: 5px;
  position:relative;
}

tr {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

td {
  text-align: center;
  border-bottom: none;
  border-left: none;
  background-color: #2c2e37;
}

thead button.ascending::after {
  content: '⬇';
  display: contents;
  margin-left: 1em;
}

thead button.descending::after {
  content: '⬆';
  display: contents;
  margin-left: 1em;
}

tbody td {
  font-size: x-large;
  padding: 0.5em;
  border-bottom: 1px solid black;
}

tbody {
  display: block;
  height: 100vh;
  overflow-y: scroll;
}
