img {
  height: 4vh;
}

table {
  border-collapse: collapse;
  width: 70vw;
  border: 1px solid black;
}

thead {
  display: table;
  width: calc(100% - 17px);
}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
}

thead button {
  order: 0;
  border-radius: none;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: large;
  padding: 0.5em;
  margin-bottom: 0px;
  background-color: none;
}

th, td {
  width: 33.33%;
  padding: 5px;
}

tr {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

td {
  text-align: center;
  border-bottom: none;
  border-left: none;;
}

thead button.ascending::after {
  content: '⬇';
  display: contents;
  margin-left: 1em;
}

thead button.descending::after {
  content: '⬆';
  display: contents;
  margin-left: 1em;
}

tbody tr:hover {
  background-color: rgb(128, 128, 128);
}

tbody td {
  font-size: x-large;
  padding: 0.5em;
  border-bottom: 1px solid black;
}

tbody {
  display: block;
  height: 100vh;
  overflow-y: scroll;

}

.weapon-table {

}