.chosen-weapon {

  border: 1px solid black;
  border-collapse: collapse;
  width: auto;
  margin: 10px;
  height: fit-content;
  background-color: #2c2e37;
  border-radius: 1%;
}

.weapon-pic {
  width: 150px;
  height: 150px;
  margin: 5px;
  background-color: #1a1b21;
  border-radius: 4%;
  border: 1px solid gold;
  border-collapse: collapse;
}

.button-container {
  display: flex;
  justify-content: center;
}

button:active {
  transform: scale(0.92);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button {
  padding: 3px;
  margin: 8px;
  font-family: 'MyFont';
  font-size: xxx-large;
  color: white;
  height: auto;
  width: auto;
  border: 1px solid white;
  background-color: rgb(0,0,0);
  background-image: url(http://www.zingerbugimages.com/backgrounds/black_abstract_stone_pattern_tileable.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
  border-radius: 2%;
}

.weapon-name {
  font-weight: 900;
  font-size: 69px;
  margin: 1rem;
  padding: 0px;
}

.weapon-info {
  font-size: 27px;
  padding-left: 4px;
}

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.weapon-container {
  display: flex;
  justify-content: start;
  margin-top: 62px;
  
}